<%- include('../partials/header') %>

<section id="new-movie">
  <% if (title === 'My Movies') { %>
      <h3>Add a new movie:</h3>
      <form>
        <input type="text" placeholder="Movie Title" required />
        <button type="submit">Search</button>
      </form>
      <div id="movie-info"></div>
  <% } %>

  <% if (title === 'To Watch') { %>
    <h3>Get new movie recommendations</h3>
    <form action="/recommends" method="GET">
      <button type="submit">I'm feeling lucky!</button>
    </form>
  <% } %>
</section>

<div id="movie-list">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Release<br>Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% movieList.forEach(function(movie, idx) {  %>
        <tr>
          <td><a href="/movies/<%= idx %>"><%= movie.Title %></a></td>
          <td><%= movie.Year %></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>
