<%- include('../partials/header') %>

<section id="new-movie">
  <h3>Add a new movie:</h3>

  <form>
    <input type="text" placeholder="Movie Title" required />
    <button type="submit">Search</button>
  </form>
  <div id="movie-info"></div>
</section>

<div id="movie-list">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Release<br>Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% movies.forEach(function(m) {  %>
        <tr>
          <td><%= m.Title %></td>
          <td><%= m.Year %></td>
          <td><a href="/movies/<%= m.imdbID %>">DETAILS</a></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>
